/*Color scheme colors
#F0F7D4 tan
#B2D732 lime green
#66B032 darker green
#1489B8 slightly lighter marine blue
#347B98 marine blue
#092834 almost black blue
#FC600A orange
*/
/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Helvetica; }

body {
  background-color: #f0f7d4; }

#headings {
  background-color: #b2d732;
  margin-top: 40px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

#name {
  color: #092834;
  font-size: 36px;
  width: 100%;
  text-align: center; }

#webdev {
  width: 100%; }

.interest {
  color: #092834;
  font-size: 18px;
  width: 200px;
  text-align: center; }

/*Not sure why * selector isn't applying to headings*/
h3,
h4 {
  margin: 0; }

#project-heading {
  margin-top: 25px;
  text-align: center; }

#btncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.projectbtn {
  margin-top: 15px;
  margin-right: 60px;
  margin-bottom: 15px;
  margin-left: 60px; }

#skills-heading {
  text-align: center; }

#skills-list {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic; }

#coming-soon {
  color: #092834;
  width: 100%;
  text-align: center; }

@media (max-width: 400px) {
  #headings {
    margin-top: 0px; } }
