/* #f0f7d4;*/
/*Color scheme colors
#F0F7D4 tan
#B2D732 lime green
#66B032 darker green
#1489B8 slightly lighter marine blue
#347B98 marine blue
#092834 almost black blue
#FC600A orange
*/
/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #d9d9d9;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

#myCarousel {
  width: auto;
  max-width: 55%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#headings {
  padding: 0 40px 60px 40px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#name {
  color: #092834;
  font-size: 60px;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

#carousel-controls-div {
  position: relative;
  width: 200px;
  margin: -50px auto 50px auto;
}

.carousel-indicators {
  top: 0px;
}

.intro-slides {
  height: auto;
  max-width: 100%;
  margin: auto;
}

.carousel-control {
  width: 4%;
}

.interest {
  color: #092834;
  font-size: 18px;
  text-align: left;
  font-family: "Lusitana", serif;
}

/*Not sure why * selector isn't applying to headings*/
h3,
h4 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #092834;
}

#project-heading {
  margin-top: 25px;
  text-align: center;
}

#project-container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-description {
  padding: 5px;
  max-width: 400px;
  margin-top: 15px;
  margin-right: 60px;
  margin-bottom: 15px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #5a5a5a;
  border-bottom: 2px solid #5a5a5a;
  border-left: 1px solid #5a5a5a;
  border-top: 1px solid #5a5a5a;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.projectbtn {
  margin-top: 15px;
  margin-right: 60px;
  margin-bottom: 15px;
  margin-left: 60px;
  margin-top: auto;
}

#skills-heading {
  text-align: center;
}

#skills-list {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  #intro {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #headings {
    width: 100vw;
    padding: 0 40px 20px 40px;
  }
  #name {
    text-align: center;
    width: 100%;
  }
  #myCarousel {
    max-width: 100vw;
  }
  .interest {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */